/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1370px) {
	.address-contacts {
		padding-left: 30px;
	}
	.address-contacts:before {
		left: -8px;
	}
}
@media only screen and (max-width: 1300px) {
.filter-material .filtr-cntr label span {
display: block;
padding-left: 43px;
}
}
@media only screen and (max-width: 1265px) {
.col-bg__grey div {
height: 100%;
padding-bottom: 10px;
}
.li-questions__link {
padding: 5px 5px;
}
.p-logo__big {
right: -25%;
}
}
@media only screen and (max-width: 1230px) {
.p-logo__big {
right: -23%;
}
.product-owl p {
	font-size: 18px;
}
}
@media only screen and (max-width: 1199px) {
.p-logo__big {
right: -21%;
}
.column-right__second p span {
	font-size: 22px;
}
.column-right__second p {
	font-size: 14px;
}
}
@media only screen and (max-width: 1099px) {
.p-questions__item {
height: 85px;
}
.p-questions__link {
font-size: 18px;
}
.p-logo__big {
top: 30%;
right: -23%;
}
.row-calculated__three .col-md-4 {
	padding-right: 1%;
	padding-left: 1%;
}
.img-input__length input::-webkit-input-placeholder {
font-size: 15px;
}
.img-input__length input::-moz-placeholder {
font-size: 15px;
}
.img-input__length input:-moz-placeholder {
font-size: 15px;
}
.img-input__length input:-ms-input-placeholder {
font-size: 15px;
}
.drop {
	width: 94%;
}
.product-owl p {
	font-size: 15px;
}
}
@media only screen and (max-width: 999px) {
.p-questions__item {
height: 80px;
}
.p-questions__link {
font-size: 18px;
}
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
.p-logo__big {
display: none;
}
.li-questions__link {
font-size: 11px;
}
.p-questions__item {
height: 70px;
}
.p-questions__link {
font-size: 14px;
padding-left: 10px;
}
.search__item {
margin-top: 0;
padding-left: 10px;
}
.img-logo__item:nth-of-type(1) {
padding-left: 10px;
padding-right: 10px;
}
.img-logo__item:nth-of-type(1) img {
width: 100%;
}
/*tab calculated*/
.top-menu__calculated .li-questions__link {
	font-size: 12px;
}
.page-calculated__padding .p-page__title {
	font-size: 20px;
}
.page-calculated__padding .p-page__title-after:after {
	margin-top: 20px;
}
.row-calculated__one .p-title__mini {
	font-size: 16px;
}
.p-calculated__usual {
	font-size: 12px;
}
.calculated-block__flex img {
	width: 24px;
	margin-right: 8px;
}
.calculated-block__flex:nth-of-type(3) p {
	top: 0px;
}
.calculated-block__flex:nth-of-type(4) p {
	top: 0px;
}
.row-calculated__second .p-title__mini {
font-size: 16px;
}
.check-calculated label {
	font-size: 12px;
}
.check-calculated input[type=checkbox] + label:before {
	margin-top: -2px;
	margin-right: 10px;
	width: 15px;
	height: 15px;
}
.check-calculated input[type=checkbox]:checked + label:before {
	background-size: 15px 15px;
}
.row-calculated__three .p-title__mini {
	font-size: 16px;
}
.img-input__length {
	padding-left: 4px;
	height: 40px;
}
.img-input__length img {
	width: 25px;
}
.img-input__length input {
	margin-left: 4px;
	padding-left: 5px;
}
.img-input__length input::-webkit-input-placeholder {
font-size: 12px;
}
.img-input__length input::-moz-placeholder {
font-size: 12px;
}
.img-input__length input:-moz-placeholder {
font-size: 12px;
}
.img-input__length input:-ms-input-placeholder {
font-size: 12px;
}
.row-calculated__three .col-md-4 {
	padding-right: 1%;
	padding-left: 1%;
}
.slct {
	height: 40px;
	font-size: 12px;
	padding-left: 10px;
}
.slct img {
	width: 15px;
	right: 4%;
}
.drop {
width: 94%;
}
.drop li {
	height: 35px;
	font-size: 12px;
}
.row-calculated__four .p-title__mini {
	font-size: 16px;
}
.img-input__personal input::-webkit-input-placeholder,
.img-input__personal__comments textarea::-webkit-input-placeholder {
font-size: 12px;
}
.img-input__personal input::-moz-placeholder,
.img-input__personal__comments textarea::-moz-placeholder {
font-size: 12px;
}
.img-input__personal input:-moz-placeholder,
.img-input__personal__comments textarea:-moz-placeholder {
font-size: 12px;
}
.img-input__personal input:-ms-input-placeholder,
.img-input__personal__comments textarea:-ms-input-placeholder {
font-size: 12px;
}
.img-input__personal input {
	font-size: 12px;
}
.file-upload p {
	font-size: 12px;
}
.file-upload label {
	width: 90px;
}
.file-upload span {
	top: 0;
	left: 10px;
	font-size: 10px;
}
.calculated__button-order .button-order {
	font-size: 12px;
	width: 180px;
}
.row-calculated__four {
	padding-bottom: 40px;
}
/*tab card_product*/
.name-product__price p,
.name-product__price p:nth-of-type(2) span:nth-of-type(1) {
	font-size: 16px;
}
.name-product__price p:nth-of-type(2) span:nth-of-type(2) {
	font-size: 18px;
}
.button-carousel, .button-carousel-2 {
	font-size: 14px;
	height: 30px;
	max-width: 325px;
}
.button-carousel-2 {
	max-width: 250px;
}
.p-card__carusel {
	font-size: 14px;
	margin-top: 10px;
}
.p-title__mini {
	font-size: 16px;
}
.product-owl p {
	font-size: 14px;
}
/*card product appliances*/
#tabs .tab {
	font-size: 16px;
}
#tabs .tabContent p {
	font-size: 14px;
}
.right-bar__tabs {
	padding-bottom: 20px;
}
/*tab card product fittings*/
.right-bar__description {
	font-size: 14px;
}
/*tab collections*/
.top-collections__cntr {
	padding-right: 15px;
	padding-left: 15px;
}
.owl-carousel__collections p:nth-of-type(1) {
	font-size: 14px;
}
.owl-carousel__collections p:nth-of-type(2) {
	font-size: 12px;
}
.top-collections__right a {
	font-size: 12px;
}
.top-collections__right a:nth-of-type(1) {
	margin-right: 7%;
}
.filter-material .filtr-cntr label span {
display: block;
padding-left: 26px;
}
.btn-collections {
	font-size: 12px;
}
.navlinks {
	justify-content: flex-start;
}
.navlinks a {
	font-size: 12px;
}
.menu {
	justify-content: flex-start;
}
.filtres div div .filtr-cntr .check-calculated {
	width: 65%;
	margin: 5px auto;
}
.filtres .filter-style div .filtr-cntr .check-calculated {
	width: 70%;
}
.filtres .filter-configuration div .filtr-cntr .check-calculated {
	width: 90%;
}
.p-name__contacts {
	font-size: 20px;
}
.contacts-form form .input__name input::-webkit-input-placeholder,
.contacts-form form .input__number input::-webkit-input-placeholder,
.contacts-form form .input__city input::-webkit-input-placeholder,
.contacts-form form .input__email input::-webkit-input-placeholder,
.contacts-form form .input__textarea textarea::-webkit-input-placeholder {
font-size: 12px;
}
.contacts-form form .input__name input::-moz-placeholder,
.contacts-form form .input__number input::-moz-placeholder,
.contacts-form form .input__city input::-moz-placeholder,
.contacts-form form .input__email input::-moz-placeholder,
.contacts-form form .input__textarea textarea::-moz-placeholder {
font-size: 12px;
}
.contacts-form form .input__name input:-moz-placeholder,
.contacts-form form .input__number input:-moz-placeholder,
.contacts-form form .input__city input:-moz-placeholder,
.contacts-form form .input__email input:-moz-placeholder,
.contacts-form form .input__textarea textarea:-moz-placeholder {
font-size: 12px;
}
.contacts-form form .input__name input:-ms-input-placeholder,
.contacts-form form .input__number input:-ms-input-placeholder,
.contacts-form form .input__city input:-ms-input-placeholder,
.contacts-form form .input__email input:-ms-input-placeholder,
.contacts-form form .input__textarea textarea:-ms-input-placeholder {
font-size: 12px;
}
.input__name #name, .input__number #number, .input__city #city, .input__email #email, .input__textarea textarea {
	height: 35px;
}
.input__textarea textarea {
	height: 70px;
}
.check-calculated-contacts label span {
padding-left: 25px;
}
.input__name, .input__number, .input__city, .input__email, .input__textarea {
	max-width: 320px;
}
.contacts-form {
	width: 470px;
	margin-left: -235px;
}
.check-calculated-contacts {
	width: 270px;
}
.btn-contacts {
	width: 200px;
	font-size: 14px;
}
.address-contacts p {
	font-size: 13px;
}
.column-right__one p {
	font-size: 15px;
}
.column-right__one p:nth-of-type(2) {
	font-size: 14px;
}
.column-right__second p span {
	font-size: 18px;
}
.column-right__second p {
	font-size: 12px;
}
.column-right__one, .column-right__second {
	margin-top: 25px;
}
.column-right__second {
	padding-left: 5px;
	padding-right: 5px;
}
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
.mob-none {
display: none;
}
.screen-tab-none {
display: block;
}
.mob-menu__top {
height: 43px;
display: flex;
background: #e8e8e8;
}
/*меню burger-mob*/
.menu-burger {
width: 20%;
height: 100%;
}
.hidden-menu {
margin-top: 43px;
display: block;
position: absolute;
list-style:none;
margin: 0;
box-sizing: border-box;
width: 100%;
background-color: #f5f5f5;
top: 0;
left: -100%;
transition: left .2s;
z-index: 12;
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
}
.hidden-menu li {
	height: 43px;
	border-bottom: 1px solid #e8e8e8;
}
.hidden-menu li a {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0 15px 0 15px;
	font-family: MontserratRegular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.25;
  letter-spacing: 0.4px;
  text-align: left;
  color: #000000;
}
.hidden-menu-ticker {
display: none;
}
.btn-menu {
margin-top: 5px;
margin-left: 15px;
color: #fff;
background-color: transparent;
padding: 5px;
position: absolute;
top: 5px;
left: 5px;
cursor: pointer;
transition: left .23s;
z-index: 3;
width: 25px;
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
}
.btn-menu span {
display: block;
width: 23px;
height: 2px;
background-color: black;
margin: 3px 0 0;
transition: all .1s linear .23s;
position: relative;
}
.btn-menu span.first {
margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
left: 5px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
left: 0;
top: 43px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
-webkit-transform: rotate(45deg);
top: 4px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
-webkit-transform: rotate(-45deg);
top: -6px;
}
.hidden-menu .hidden-menu__bottom {
	height: 230px;	
}
/*поле с логотипом страницы*/
.logo-mob {
	width: 60%;
}
.logo-mob p {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Gregor;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: 0.5px;
  text-align: center;
  color: #e78b02;
}
/* search для мобильной версии */
.search-mob {
	width: 20%;
}
#demo-b{
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
}
#demo-b input {
outline: none;
}
#demo-b input[type=search] {
-webkit-appearance: textfield;
-webkit-box-sizing: content-box;
font-family: inherit;
font-size: 100%;
}
/* Поле ввода строки поиска */
#demo-b input[type=search] {
background: url(../img/icons/search.png) no-repeat 9px center;
border: none;
padding: 9px 10px 9px 32px;
width: 55px;
border-radius: 5px;
transition: all .5s;
}
#demo-b input[type=search]:focus {
width: 130px;
background-color: #fff;
border-color: rgb(253,147,11);
box-shadow: 0 0 5px rgba(253,147,11,.9);
}
/* Заполнитель */
/* Демо B */
#demo-b input[type=search] {
width: 15px;
padding-left: 10px;
color: transparent;
cursor: pointer;
}
#demo-b input[type=search]:focus {
width: 130px;
padding-left: 32px;
color: #000;
background-color: #fff;
cursor: auto;
}
#demo-b input:-moz-placeholder {
color: transparent;
}
#demo-b input::-webkit-input-placeholder {
color: transparent;
}
.map {
	height: auto;
}
.mob-menu__with_right_bar .p-questions__item {
	height: 35px;
	border: none;
}
.mob-menu__with_right_bar .p-questions__item:hover {
	border: none;
	box-shadow: none;
}
.mob-menu__with_right_bar .p-questions__item .p-questions__link {
	justify-content: center;
}
.p-page__title {
	font-size: 16px;
}
.p-page__title span:nth-of-type(1){
 display: block;
}
.p-page__title span:nth-of-type(2){
 display: none;
}
.p-page__title-after:after {
	margin-top: 14px;
}
.p-page__usual {
	font-size: 12px;
	color: #010101;
}
.p-page__usual__2, .p-page__usual__3, .p-page__usual__4 {
	display: none;
}
.row-index__none {
	display: none;
}
.row-priorities div:nth-of-type(-n+6) {
	margin-top: 4px;
}
.col-mob__margin {
	padding-right: 2px;
	padding-left: 2px;
}
.col-mob__margin div img {
width: 45px;
}
.col-mob__margin div .p-row__priorities {
	font-size: 12px;
}
.row-priorities .col-sm-6 div {
	 background-color: #e8e7e6;
}
.page-mob__grey {
background: #f5f5f5;
}
.page-footer {
	margin-top: 0;
	background: #f5f5f5;
}
.button-order {
	font-size: 12px;
}
/*mob calculated*/
.top-menu__calculated {
	display: none;
}
.page-calculated__padding .p-page__title {
	font-size: 14px;
}
.p-page__title-after:after {
	margin-top: 10px;
}
.page-calculated__padding .p-page__title-after:after {
	margin-top: 10px;
}
.row-calculated__one .p-title__mini {
	font-size: 12px;
}
.calculated-block__flex {
	justify-content: flex-start;
}
.calculated-block__flex img {
	margin-right: 20px;
}
.check-calculated input[type=checkbox] + label:before {
	margin-right: 5px;
}
.check-calculated {
	margin-top: 0;
}
.page-mob__white {
	background: white;
}
.row-calculated__second .col-6 {
	padding-right: 10px;
	padding-left: 10px;
}
.drop {
	position: relative;
	width: 100%;
}
.select-mob__none {
	display: none;
}
.img-input__length {
	margin-top: 5px;
}
.select-mob__visible {
	display: block;
}
.select {
	margin-top: 5px;
}
.row-calculated__three .col-md-4 form .img-input__length {
max-width: 100%;
}
.row-calculated__three .col-md-4:nth-of-type(4) form {
max-width: 100%;
}
.row-calculated__three .col-md-4:nth-of-type(3) form {
	max-width: 100%;
}
.img-input__length input {
	margin-left: 15px;
	padding-left: 20px;
}
.img-input__length {
	padding-left: 15px;
}
.slct {
	max-width: 100%;
}
.drop {
	width: 100%;
	max-width: 100%;
}
.img-input__personal {
	max-width: 100%;
}
.file-upload {
	flex-direction: column;
	max-width: 100%;
}
/*mob card product*/
.name-product__price p, .name-product__price p:nth-of-type(2) span:nth-of-type(1) {
	font-size: 12px;
}
.name-product__price p:nth-of-type(2) span:nth-of-type(2) {
	font-size: 14px;
}
.name-product__price p:nth-of-type(2) span:nth-of-type(1) {
	position: relative;
	top: -1px;
	margin-right: 5px;
}
.name-product__price p:nth-of-type(2) {
	align-items: flex-end;
	justify-content: center;
}
.navigation {
	height: 60px;
}
.button-carousel, .button-carousel-2 {
	max-width: 30%;
	margin-top: 13px;
	margin-left: auto;
	margin-right: auto;
	font-size: 10px;
}
.button-carousel span:nth-of-type(1) {
	display: none;
}
.button-carousel span:nth-of-type(2) {
	text-transform: uppercase;
}
.row-carusel__padding {
	display: flex;
    flex-direction: column-reverse;
    padding-top: 17px;
}
.p-card__carusel {
	font-size: 12px;
	margin-left: 0;
}
.img-slider__all {
	flex-direction: column;
}
#bx-pager {
	padding-top: 10px;
	padding-left: 0;
	display: flex;
	justify-content: center;
}
#bx-pager a {
	margin-right: 5px;
	margin-left: 5px;
	width: 89px;
	height: 100%;
}
.right-bar__carusel_mob {
	display: block;
}
.row-carusel__padding {
	padding-bottom: 20px;
}
.page-white_mob {
	background: white;
}
.p-title__cntr .p-title__mini {
	text-align: center;
	padding-top: 13px;
	padding-bottom: 8px;
	font-size: 12px;
}
.p-title__cntr {
	padding-right: 35px;
}
.product-owl p {
	font-size: 12px;
}
/*mob card product appliences*/
.row-tabs__padding {
	display: flex;
    flex-direction: column-reverse;
    padding-top: 17px;
}
.img-appliances {
	margin-top: 0;
}
.right-bar__tabs {
	padding-top: 13px;
}
#tabs .tab {
	font-size: 14px;
}
#tabs .tabContent p {
	font-size: 12px;
}
/*mob card product fittings*/
.right-bar__description {
	margin-top: 20px;
}
.name-product__price p {
	text-align: center;
}
.right-bar__description {
	font-size: 12px;
}
.navlinks {
	justify-content: space-around;
}
.btn-collections:nth-of-type(4) {
	display: none;
}
.mob-coll__btn {
	display: flex;
	justify-content: center;
}
.mob-coll__btn a {
	margin-bottom: 10px;
	display: block;
	border: 1px solid black;
	padding: 0 10px;
	border-radius: 15px;
	font-family: MontserratRegular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #000000;
}
.filter-material .filtr-cntr:nth-of-type(1),
.filter-material .filtr-cntr:nth-of-type(2) {
	padding-bottom: 0;
}
.filter-material .filtr-cntr:nth-of-type(3),
.filter-material .filtr-cntr:nth-of-type(4) {
	padding-top: 0;
}
.filter-material .filtr-cntr label span{
	padding-left: 20px;
}
.filter-material .filtr-cntr {
	max-width: 50%;
}
.filtres .filtr-cntr div div .check-calculated {
	width: 50%;
	margin: 5px auto;
}
.btn-collections {
	position: relative;
	right: 0;
}
.toggle-filter-configuration, .toggle-filter-style, .toggle-filter-material {
	margin: 0;
}
.filtres div div .filtr-cntr .check-calculated {
	width: 45%;
}
.filtres .filter-configuration div .filtr-cntr .check-calculated {
	width: 70%;
}
.filtr-cntr {
	max-width: 50%;
}
.img-contacts__all {
	display: none;
}
.contacts-form {
	position: relative;
}
.check-calculated-contacts label {
	font-size: 8px;
}
.check-calculated-contacts label span {
	padding: 0;
}
.check-calculated-contacts {
	width: 285px;
}
.address-contacts {
	padding-left: 60px;
	padding-right: 30px;
}
.address-contacts:before {
	left: 15px;
}
.btn-contacts {
	width: 180px;
	font-size: 12px;
}
.p-name__contacts {
	font-size: 16px;
}
.address-contacts p {
	font-size: 11px;
}
.contacts-form {
	left: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 500px;
}
.page-mob__none {
	display: none;
}
.page-prod-collect__mob {
	display: block;
}
}
@media only screen and (max-width: 600px) {
.button-carousel, .button-carousel-2 {
	max-width: 40%;
}
.filtres .filter-configuration div .filtr-cntr .check-calculated {
	width: 75%;
}
.page-prod-collect__mob .column-right__one {
	margin-top: 0;
}
.page-prod-collect__mob .column-right__one img {
	height: 60%;
	padding: 0 0%;
}
.page-prod-collect__mob .column-right__second {
	margin-top: 0;
	margin-bottom: 30px;
}
.page-prod-collect__mob .column-right__one {
	max-height: 240px;
}
}
@media only screen and (max-width: 520px) {
	#demo-b input[type=search]:focus {
		margin-top: 5px;
		width: 20vh;
		height: 10px;
	}
	.filtres .filter-configuration div .filtr-cntr .check-calculated {
	width: 80%;
}
.page-prod-collect__mob .column-right__one {
	padding-right: 3px;
	padding-left: 3px;
	max-height: 240px;
}
.page-prod-collect__mob .column-right__one img {
	height: 70%;
} 
}
@media only screen and (max-width: 480px) {
	.filtres .filter-configuration div .filtr-cntr .check-calculated {
	width: 85%;
}
.name-product__price span {
	display: block;
	text-align: center;
}
}
@media only screen and (max-width: 465px) {
.owl-carousel2__all {
	max-width: 80%;
}
#demo-b input[type=search]:focus {
		width: 15vh;
	}
.button-carousel, .button-carousel-2 {
	max-width: 200px;
}
.filtres .filter-configuration div .filtr-cntr .check-calculated {
	width: 92%;
}
.filtr-cntr {
	padding-right: 10px;
	padding-left: 10px;
} 
.filtres .filter-style div .filtr-cntr .check-calculated {
	width: 80%;
}
}
@media only screen and (max-width: 400px) {
.check-calculated label span {
	position: relative;
	top: -10px;	
	padding-left: 20px;
}
.filtres div div .filtr-cntr .check-calculated label span {
	top: 0;
}
.name-product__price p, .name-product__price p:nth-of-type(2) span:nth-of-type(1) {
		font-size: 10px;
	}
	.name-product__price span {
		font-size: 12px;	
	}
	.filtres div div .filtr-cntr .check-calculated {
		width: 80%;
	}
	.navlinks a {
		font-size: 10px;
	}
	.check-calculated-contacts {
		width: 290px;
	}
	.check-calculated-contacts label span {
		top: 0;
		margin: 0;
		padding: 0;
	}
	.page-prod-collect__mob .column-right__one p {
		font-size: 9px;
	}
	.page-prod-collect__mob .column-right__one p:nth-of-type(2) {
		font-size: 10px;`
	}
}
@media only screen and (max-width: 369px) {
.owl-next {
	margin-left: 40px;
}
.owl-prev {
	margin-right: 40px;
}
#tabs .tab {
	font-size: 12px;
}
#tabs .tabContent p {
	font-size: 10px;
}
.filtres .filter-style div .filtr-cntr .check-calculated {
	width: 85%;
} 
}
@media only screen and (max-width: 350px) {
.row-calculated__second .col-6 {
	padding-right: 5px;
	padding-left: 5px;
}
#demo-b input[type=search]:focus {
		width: 10vh;
	} 
	.filtres .filter-style div .filtr-cntr .check-calculated {
	width: 90%;
}
}